{% extends "base.html" %}

{% block title %} Global {% endblock %}

{% block content%}
<div class="header-section">
    <h1>Explore Global Posts</h1>
    <p>
        Discover stories, quotes, and culture from people around the world
    </p>
</div>

    {% if posts %}
        <p>Filter Posts: </p>
        <div class='search-section'>
            <select id="countryFilter" class="form-select">
                <option value="">All countries</option>
                {% for c in countries_name %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>

            <select id="categoryFilter" class="form-select">
                <option value="">All categories</option>
                <option value="Story">Story</option>
                <option value="Tourist Attraction">Tourist Attraction</option>
                <option value="Dish">Dish</option>
                <option value="Proverb">Proverb</option>
            </select>
        </div>

        <div class="row cards  g-4">
            {% for post in posts %}
            <div class="col-12 col-md-3"  id="post-{{ post.post_id }}" data-country="{{ post.country_name }}" data-category="{{ post.category }}">
                    {% include "card.html" %}
            </div>
            {% endfor %}
        </div>
    {% else %}

    {% endif %}


{% endblock %}