.cards {
    margin: 20px;
    display: flex;
    justify-content: space-around; 

}

.post-card {
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
    margin: 20px;
    max-height: 670px;
    overflow-y: auto;
}
.post-card:hover{
    transform: scale(1.02);
    transition: 0.3s;
} 


.post-header, .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-category {
    background: #2f6dd9;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.post-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-body {
    padding: 15px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
}

.post-text {
    font-size: 15px;
    color: #555;
    text-align: start;

}

.country-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.country-flag {
    width: 25px;
    height: 15px;
    object-fit: cover;
}

.country-name {
    font-size: 15px;
    color: #333;
}
.card-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-actions i {
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
}

.card-actions i:hover {
    color: #2f6dd9;
}
/* ---------------------------------favorite-icon -----------------------*/
.favorite-icon .fav-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.heart-icon {
    font-size: 24px;
    color: rgba(0,0,0,0.25); 
    transition: 0.3s;
}

.heart-icon.active {
    color: red; 
}
