/* Hero Section Background */
.home-hero {
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/world-map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* effect (overlay) */
.home-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-content h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Buttons */
.hero-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}