.hero-content {
    color: white;
}

.hero-content h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Buttons */
.hero-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}