body {
    background: linear-gradient(to bottom right, #f8fafc, #f6f7f8);
}

.welcome-section{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 30% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card:hover{
    transform: scale(1.02);
    transition: 0.3s;
} 

.top-card {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}
.card-body img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 8px;
}


.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 5px; 
}

.flag-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    border: 1px solid #ccc;
}
