body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* --------------------------------------------------------- Background image ---------------------------------------------- */
.img-background {
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/world-map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* effect (overlay) */
.img-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.img-background-content {
    position: relative;
    z-index: 2;
    text-align: center;
    
    padding: 0 20px;
}

/* --------------------------------------------------------- buttons ---------------------------------------------- */

.btn {
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
    border: none;
}

/* Light Button */
.btn-light {
    background: white;
    color: #333;
}
.btn-light:hover {
    background: #eaeaea;
}

/* Primary Button */
.btn-primary {
    background: #4c8bf5;
    color: white;
}
.btn-primary:hover {
    background: #2f6dd9;
}

/*-------------------------------------------------------------- ---------------------------------------------*/
/*--------------------    alert for error ------------------------------*/

.section-alert {
    position: fixed;
    top: 20px;        
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; 
    width: 90%;       
    max-width: 500px; 
}

.my-alert {
    padding: 12px 16px;
    margin: 15px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  
}

.success-alert {
    background-color: #d4edda;
    color: #40f36a;
    border-left: 4px solid #28a745;
}

.error-alert {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 4px solid #dc3545;
}


.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
}