<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% if custom_style %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ custom_style ~ '.css') }}">
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>


        <title>{% block title %} Home {% endblock %}</title>
    </head>
    <body class="{% if is_home %}home-page{% endif %}">
    <!-- Flash messages -->
    <div class="section-alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="my-alert {{ 'error-alert' if category == 'error' else 'success-alert' }}">
                        <span>{{ message }}</span>
                        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <nav class="main-navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="/">
                <i class="fa fa-globe"></i> Culture Connect
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="/global">Global</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script  src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
