<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% if custom_style %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ custom_style ~ '.css') }}">
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <title>{% block title %} Home {% endblock %}</title>
    </head>
    <body>
    <!-- Flash messages -->
    <div class="section-alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="my-alert {{ 'error-alert' if category == 'error' else 'success-alert' }}">
                        <span>{{ message }}</span>
                        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div>
            <nav class="navbar navbar-expand-lg ">
            <div>
                <a class="navbar-brand" href="/"><img src="/static/images/world-map.jpg" alt="home">Culture Connect</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Global</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sign-up">Sign up</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script  src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
