
<div class="post-card ">
    <div class="post-header">
        <div class="user-info">
        <img  src="{{ url_for('static', filename='uploads/' ~ post.user_profile_img) }}" alt="User Avatar" class="user-avatar">
        <div>
            <h4 class="user-name">{{ post.username}}</h4>
            <span class="post-date">{{ post.date}}</span>
        </div>
        </div>

        <span class="post-category">{{ post.category}}</span>
    </div>

    <div class="post-image">
        {% if post.post_image %}
        <img src="{{ url_for('static', filename='uploads/' ~ post.post_image) }}" alt="post image" >
        {% endif %}
    </div>

    <div class="post-body">
        <h3 class="post-title">{{ post.title}}</h3>
        <p class="post-text">{{ post.body}}</p>
    </div>

    <div class="post-footer">
        <div class="country-info">
            <img src="{{ url_for('static', filename='uploads/' ~  post.user_flag_country_img) }}" alt="Country Flag" class="country-flag">
            <span class="country-name">{{ post.user_country }}</span>
        </div>

        {% if show_controls%}
            <div class="card-actions">
                <button class='btn' 
                    onclick='showEditModal({{ post.id }}, {{ post.title|tojson }}, {{ post.body|tojson }}, {{ post.category|tojson }}, {{ post.post_image|tojson }})'>
                    <i class="fas fa-edit edit-icon" title="Edit"></i> 
                </button>
                <button class='btn' onclick="deletePost({{ post.id }})">
                    <i class="fas fa-trash delete-icon" title="Delete"></i>
                </button>
            </div>
        {% else %} 
            <div class="favorite-icon">
                <button class="fav-btn" onclick="addPostToFavorite({{ post.id }})" >
                    <i class="fas fa-heart heart-icon" id='favorite-{{ post.id }}'></i>
                </button>
            </div>
        {% endif %}
    </div>
</div>

