{% extends "base.html" %}

{% block title %}Global{% endblock %}

{% block content %}
<div class="header-section">
    <h1>Explore Global Posts</h1>
    <p>Discover stories, proverbs, and culture from people around the world</p>
</div>

{% if posts %}
    <p class="filter-title mb-3 text-center">Filter Posts:</p>
    <div class="filters d-flex gap-3 justify-content-center  align-items-center ">         
        <select id="countryFilter" class="form-select" style="width: 200px;">
            <option value="">All countries</option>
            {% for c in countries_name %}
            <option value="{{ c|lower }}">{{ c }}</option>
            {% endfor %}
        </select>

        <select id="categoryFilter" class="form-select" style="width: 200px;">
            <option value="">All categories</option>
            <option value="story">Story</option>
            <option value="tourist attraction">Tourist Attraction</option>
            <option value="dish">Dish</option>
            <option value="proverb">Proverb</option>
        </select>
    </div>
    <p class="d-none m-3 text-center text-danger" id="noPostsMess">No posts match your filter</p>

    <div class="row cards  g-4 d-flex align-items-stretch">
        {% for post in posts %}
        <div class="col-12 col-md-4 d-flex"
            id="post-{{ post.id }}"
            data-country="{{ post.user_country|lower}}"
            data-category="{{ post.category|lower}}">
            {% include "card.html" %}

        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">No posts available yet.</p>
{% endif %}
<script>
    const CURRENT_USER = "{{ username }}";  
</script>
{% endblock %}

