{% extends "base.html" %}

{% block title %} Culture Connect {% endblock %}

{% block content %}

<div class="home-hero img-background">
    <div class="hero-content img-background-content " >
        <h1>Welcome to Culture Connect</h1>
        <p>Explore Cultures From All Around the World</p>

        <div class="hero-actions">
            <a href="/login" class="btn btn-light">Login</a>
            <a href="/sign-up" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
