{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class='img-background'>
    <form action="/login" method="post" class="img-background-content" >
        <div class="header-section">
            <h1>Welcome Back <i class="fa fa-globe" style="font-size:36px"></i> </h1>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" required />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <p class="form-link">
            Don't have an account?
            <a href="/sign-up">Sign Up</a>
        </p>
    </form>
</div>
{% endblock %}
