        <link rel="stylesheet" href="{{ url_for('static', filename='css/post-model.css') }}">
<div class="modal fade {% if show_modal %}show{% endif %}" id="{{ modal_id }}" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">{{ modal_title }}</h5> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                {% if is_edit %}
                    <input type="hidden" id="edit-post-id"> 
                {% endif %}

                <{{ 'form' if not is_edit else 'div' }} 
                    {% if not is_edit %}
                        action="{{ url_for('views.profile') }}" method="POST" enctype="multipart/form-data"
                    {% endif %}
                    id="{{ 'add-form' if not is_edit else 'edit-form' }}"
                >
                    {% set prefix = 'edit-' if is_edit else '' %}
                    
                    <div class="form-group">
                        <label for="{{ prefix }}title">Title of post</label>
                        <input type="text" name="title" id="{{ prefix }}title"  value='{{ form_data.title or '' }}' class="form-control"  placeholder="Enter the title of post"  required>
                        {% if errors.title_error%}
                            <p style='color: red'>{{errors.title_error}} </p>
                        {% endif  %} 
                    </div>


                    <div class="form-group">
                        <label for="{{ prefix }}body">Body of post</label>
                        <textarea name="body" id="{{ prefix }}body"  class="form-control" placeholder="Write something interesting..." required>{{ form_data.body or '' }}</textarea>
                        {% if errors.body_error%}
                                    <p style='color: red'>{{errors.body_error}} </p>
                        {% endif  %} 
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ prefix }}category">Category</label>
                        <select name="category" id="{{ prefix }}category" class="form-select" required>
                            <option value="" selected disabled>Select post category</option>
                            <option value="Story">Story</option>
                            <option value="Tourist Attraction">Tourist Attraction</option>
                            <option value="Dish">Dish</option>
                            <option value="proverb">Proverb</option>
                        </select>
                    </div>

                    <div class="form-group">
                        {% if is_edit %}
                        <img id="show-edit-post-img" src="" style="max-width: 100px;">
                        <label for="{{ prefix }}post-img" id="edit-image-label"> Change image?</label>
                        {%else %}
                        <label for="post-img">Your post have image?</label>
                        {% endif %}
                        <input type="file" name="post-img" id="{{ prefix }}post-img" class="form-control" accept="image/*">
                    </div>
                    
                    <div class="modal-footer flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        {% if is_edit %}
                        <button type="button" class="btn btn-primary" onclick="submitEdit()">Save Changes</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Add Post</button>
                        {% endif %}

                    </div>
                    </{{ 'form' if not is_edit else 'div' }}>
            </div>

        </div>
    </div>
</div>
