{% extends "base.html" %}

{% block content %}

    <div class="header-section"> 
        <h1>Welcome, {{username}}!</h1>
        {% if posts %}
            <p class="checkRemainingPostsPar">Here are all your posts:</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
                Add a Post
            </button>
                <div class="row cards  g-4">
                {% for post in posts %}
                    <div class="col-12 col-md-4 " id="post-{{ post.post_id }}">
                        {% include "card.html" %}
                    </div>
                {% endfor %}
                </div>
        {% else %}
                <p class="checkRemainingPostsPar">You haven't added any posts yet. Click "Add a Post" to create your first one!</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
                    Add a Post
                </button>
        {% endif %}

    </div>

    {#  include new post modal #}
    {% set modal_id = "postModal" %}
    {% set modal_title = "New Post" %}
    {% set is_edit = False %}
    {% include "post_modal.html" %}

    {#  include edit post modal #}
    {% set modal_id = "editPostModal" %}
    {% set modal_title = "Edit Post" %}
    {% set is_edit = True %}
    {% include "post_modal.html" %}
{% endblock %}
