{% extends "base.html" %}
{% block title %} Profile {% endblock %}

{% block content %}

    <div class="header-section"> 
        <h1>Welcome, {{username}}!</h1>
        {% if posts %}
            <p class="checkRemainingPostsPar mb-3">Here are all your posts:</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
                Add a Post
            </button>
                <div class="row cards  g-4 d-flex align-items-stretch">
                {% for post in posts %}
                    <div class="col-12 col-md-4 d-flex " id="post-{{ post.id }}" >
                        {% set show_controls = True%}
                        {% include "card.html" %}
                    </div>
                {% endfor %}
                </div>
        {% else %}
                <p class="checkRemainingPostsPar mb-3">You haven't added any posts yet. Click "Add a Post" to create your first one!</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
                    Add a Post
                </button>
        {% endif %}

    </div>

    {#  include new post modal #}
    {% set modal_id = "postModal" %}
    {% set modal_title = "New Post" %}
    {% set is_edit = False %}
    {% include "post_modal.html" %}

    {#  include edit post modal #}
    {% set modal_id = "editPostModal" %}
    {% set modal_title = "Edit Post" %}
    {% set is_edit = True %}
    {% include "post_modal.html" %}

<script>
    {% if show_modal %}
        var myModal = new bootstrap.Modal(document.getElementById('postModal'));
        myModal.show();
    {% endif %}
</script>

{% endblock %}

